/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  
  body {
    font-family: "Saira Condensed", sans-serif;
    min-height: 100vh;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Utils */
  
  .container {
    margin: 0 auto;
    max-width: 1000px;
  }